<!DOCTYPE html>
<html>
<head>
    <title>Tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card3">
    <h1>Tickets</h1>
    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Support Message</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.description }}</td>
            <td>{{ ticket.status }}</td>
            <td> {% if ticket.support_message %} {{ ticket.support_message }} {% else %} No message yet {% endif %} </td>
        </tr>

        {% endfor %}
    </table>
    </div>
    <button id="back" type="button" onclick="window.location.href='/dashboard'">Back to Dashboard</button>
</body>
</html>