<!DOCTYPE html>
<html> 
<head>
    <title>Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>Create Ticket</h1>
        <form method="POST" action="/ticket">
            <label for="title" id="ticket-desc">Title:</label>
            <input type="text" id="title" name="title" required><br><br>
            <label for="description" id="ticket-desc">Description:</label>
            <textarea id="description" name="description" required></textarea><br><br>
            <input id="submit" type="submit" value="Submit Ticket">
            <input id="back" type="button" value="Back to Dashboard" onclick="window.location.href='/dashboard'">
        </form>
    </div>
</body>
</html>